<h3>Заголовок отправленного письма</h3>
<p>Это письмо отправлено для пользователя <b>{{ name }}</b></p>

{# example, assuming you have a route named "login" #}
По этой ссылке можно перейти <a href="{{ url('_welcome') }}">на главную</a> страницу тестового проекта.
<br/>